:root {
    --md-primary-fg-color:        #4472C4;
  }

  #print-site-cover-page h1 {

    text-align: center;
}

@media screen {
  #copyright {
    display: none;
  }
}

@media print {
  div, figure {
    break-inside: avoid;
  }

  h1, h2 {
    page-break-before: auto;
    page-break-after: avoid;
  }

  #copyright {
    height: 700px;
    align-content: end;
    text-align: right;
  }

  #promptengineering-exercise-improve-a-function {
    page-break-before: always;
  }
